{% if session.username %}
<a href="/">Front page</a>
<a href="/logout">Logout</a>
<a href="/profiles">Profiles</a>
<a href="/matches">Matches</a>

<p>Logged in as {{ session.username }}</p>

You can only save changes in one form at a time.<br>
Saving "Profile" will remove unsaved changes made to "Orientations"<br>
<br>
<div>
  Edit your profile:
</div>
<br>
<form action="/editprofile" method="POST" onsubmit="return check(this)">
  Name (2-15 char): <br>
  <input type="text" name="name" value="{{ user.name }}" required></p>
  Profile (3-200 char): <br>
  <textarea name="bio" rows="3" cols="40" required>{{ user.bio }}</textarea>
  <br>
  <input type="submit" value="Save">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<br>
Edit your orientations:
<form action="/editorientations" method="POST">
  {% for o in all_orientations %}
  {% if ori %}
  <input type="checkbox" name="{{o}}" value="{{o}}" {% if (o in ori) %} checked {% endif %}/>{{o}}<br>
  {% else %}
  <input type="checkbox" name="{{o}}" value="{{o}}"/>{{o}}<br>
  {% endif %}
  {% endfor %}

  <input type="submit" value="Save">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<script>
  function check(form) {
    if (form.name.value.length < 2 || form.name.value.length > 15) {
      alert("Name should be 2-15 characters long");
      return false;
    }
    if (form.bio.value.length < 3 || form.bio.value.length > 200) {
      alert("Profile text should be 3-200 characters long");
      return false;
    }
    return true;
  }
</script>

{% else %}

<hr> You're not logged in!
<a href="/">Login</a>
<a href="/register">Register</a>

{% endif %}