{% if session.username %}
<a href="/">Front page</a>
<a href="/logout">Logout</a>
<a href="/profiles">Profiles</a>
<a href="/matches">Matches</a>

<p>Logged in as {{ session.username }}</p>

<br>
<div>
  Edit your profile:
</div>
<br>
<form action="/editprofile" method="POST" onsubmit="return check(this)">
  Name (2-15 char): <br>
  <input type="text" name="name" value="{{ user.name }}" required></p>
  Profile (3-200 char): <br>
  <textarea name="bio" rows="3" cols="40" required>{{ user.bio }}</textarea>
  <br>
  <input type="submit" value="Save">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<br>
Edit your orientations:
<form action="/editorientations" method="POST">

  <input type="checkbox" name="Gay" value="gay" {% if ("Gay" in ori) %} checked {% endif %}/>gay<br>
  <input type="checkbox" name="Bi" value="bi" {% if ("Bi" in ori) %} checked {% endif %}/>bi<br>
  <input type="checkbox" name="Pan" value="pan" {% if ("Pan" in ori) %} checked {% endif %}/>pan<br>
  <input type="checkbox" name="Queer" value="queer" {% if ("Queer" in ori) %} checked {% endif %}/>queer<br>
  <input type="checkbox" name="Straight" value="straight" {% if ("Straight" in ori) %} checked {% endif %}/>straight<br>
  <input type="checkbox" name="Asexual" value="ace" {% if ("Asexual" in ori) %} checked {% endif %}/>asexual<br>
  <input type="checkbox" name="Aromantic" value="aro" {% if ("Aromantic" in ori) %} checked {% endif %}/>aromantic<br>
  <input type="checkbox" name="Demisexual" value="demisex" {% if ("Demisexual" in ori) %} checked {% endif %}/>demisexual<br>
  <input type="checkbox" name="Demiromantic" value="demiro" {% if ("Demiromantic" in ori) %} checked {% endif %}/>demiromantic<br>
  <input type="checkbox" name="Polyamorous" value="poly" {% if ("Polyamorous" in ori) %} checked {% endif %}/>polyamorous<br>
  <input type="checkbox" name="Mono" value="mono" {% if ("Mono" in ori) %} checked {% endif %}/>monogamous<br>
  <input type="checkbox" name="Non-mono" value="non-mono" {% if ("Non-mono" in ori) %} checked {% endif %}/>non-monogamous<br>

  <input type="submit" value="Save">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<script>
  function check(form) {
    if (form.name.value.length < 2 || form.name.value.length > 15) {
      alert("Name should be 2-15 characters long");
      return false;
    }
    if (form.bio.value.length < 3 || form.bio.value.length > 200) {
      alert("Profile text should be 3-200 characters long");
      return false;
    }
    return true;
  }
</script>

{% else %}

<hr> You're not logged in!
<a href="/">Login</a>
<a href="/register">Register</a>

{% endif %}