<form action="/pizzaresult" method="POST">
  Valitse pizza:
  <p>
  <input type="radio" name="pizza" value="1: Frut"> Frutti di Mare
  <input type="radio" name="pizza" value="2: Marg"> Margherita
  <input type="radio" name="pizza" value="3:Form"> Quattro Formaggi
  <input type="radio" name="pizza" value="4: Stag"> Quattro Stagioni
  <p>
  Valitse lisät:
  <p>
  <input type="checkbox" name="extra" value="oreg"> oregano
  <input type="checkbox" name="extra" value="valkosip"> valkosipuli
  <p>
  Erikoistoiveet: <br>
  <textarea name="message" rows="3" cols="50"></textarea>
  <p>
  <input type="submit" value="Lähetä">
  </form>
  