{% if session.username %}

<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>


Profiles: {{ count }}
<form action="/sendlikes" method="POST">
<hr>
{% for user in users %}
{{ user.name, user.field, user.bio }}
<input type="checkbox" id="{{ user.username }}" name="{{ user.username }}" value="{{ user.username }}"/>
<hr>
{% endfor %}
<input type="submit" value="Send">
</form>

<a href="/edit">Edit profile</a>

{% else %}

<hr> ei pääsyä profiileihin, et ole kirjautunut!
<a href="/">Siirry kirjautumaan</a>

{% endif %}