{% if session.username %}
<a href="/">Etusivu</a>
<a href="/logout">Kirjaudu ulos</a>
<a href="/matches">Katso matchit</a>
<a href="/edit">Edit profile</a>
<p>Olet kirjautunut käyttäjällä {{ session.username }}</p>


Profiles: {{ count }}
<form action="/sendlikes" method="POST">
<hr>
{% for user in users %}
{{ user.name, user.field, user.bio }}
<input type="checkbox" id="{{ user.username }}" name="{{ user.username }}" value="{{ user.username }}"/>

{% for match in matches %}
{% if match.username == user.username%}
!! woo match !!
{% endif %}
{% endfor %}
<hr>
{% endfor %}
<input type="submit" value="Send">
</form>

<a href="/edit">Edit profile</a>

{% else %}

<hr> ei pääsyä profiileihin, et ole kirjautunut!
<a href="/">Siirry kirjautumaan</a>
<a href="/register">Rekisteröidy</a>

{% endif %}