<form action="/sendregister" method="POST">
  Username: <br>
  <textarea name="username" rows="1"></textarea>
  <br>
  Password: <br>
  <textarea name="passw" type="password" rows="1"></textarea>
  <br>
  Name: <br>
  <textarea name="name" rows="1"></textarea>
  <br>
  <p>Study field:</p>
  <input type="radio" name="field" value="Computer Science"> Computer Science
  <input type="radio" name="field" value="Math"> Math
  <input type="radio" name="field" value="Physics"> Physics
  <br>
  <br>
  Profile: <br>
  <textarea name="bio" rows="3" cols="40"></textarea>
  <br>
  <input type="submit" value="Send">
</form>